<template>
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-10">
                <div class="active-cyan-4 mb-4">
                    <input class="form-control" type="text" v-model='query' placeholder="Enter search..." @keyup.enter="getResults">
                    <a href='#' class='clear' @click='resetSearch'>x</a>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-outline-primary" @click='getResults'>Search</button>
            </div>
            
            <div v-if="loading" class='loading text-center'>
                loading...
            </div>
            <div v-else>
                <div v-if='results==null && empty==null'> 
                    <div class='mt-10 text-center'>
                        <h1 class='text-primary'>Welcome to Aphix Api</h1>
                        <p class='text-secondary'>Please use search box above to get results</p>
                    </div>
                </div>
                <div v-else class='row mb-4 results justify-content-center'>
                    <div v-if='empty' class='error'>Sorry, No data found.</div>
                    <div v-else class="col-md-3 d-flex align-items-stretch  mb-4 mr-4" v-for="(result,key) in results" :key="'result' + key">
                        <youtube-search-results  v-bind="result"></youtube-search-results>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</template>

<script>
    import YoutubeSearchResults from "./YoutubeSearchResults";
    export default {
        name:'youtube', //name of the compments
        data(){
            return { //declare prooperties
                query : '',
                results: null,
                loading:null,
                empty:null,
            }
        },
        components:{ //declare compnents
            YoutubeSearchResults
        },
        methods:{ //define methods
            //GETS ALL THE SEARCH RESULTS: 
            getResults(){
                this.loading = true;
                const searchResults = axios.get(`/api/channels/${this.query}`) //run ajax request to controller
                .then(response => {
                    if(response.data.length==0){//if result is empty
                        this.empty = true;
                    }else{
                        this.results = response.data //get the results in results property
                        this.empty = false;
                    }
                    this.loading = false;
                });
                
            },
            //RESET COMPONENT TO INITIAL STAGE:
            resetSearch(){
                this.loading = false;
                this.query = null;
                this.empty = null;
                this.results = null;
            }
        }
    }
</script>
<style scoped>
    .results{margin:0 auto;}
    .results div:not(.error) {
        min-height:300px;
        background: #eee;
        padding: 10px;
    }
    .clear{
        position: absolute;
        right: 18px;
        top: -10px;
        font-size: 22px;
        padding: 10px;
        color: #AAA;
    }
</style>
