<template>
    <div>
        <img :src="snippet.thumbnails.medium.url"/>
        <p class='pt-2 pb-2 title'>{{ snippet.title }}</p>
        <p class='desciption'>{{ snippet.description }}</p>
    </div>
</template>

<script>
export default {
    props : ['etag','snippet']
}
</script>

<style scoped>
img{
    width:100%;
}
.title{
    font-weight: bold;
}
.desciption{
    font-size: 12px;
}

</style>

